<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar> 
<div class="container">
  <div class="starter-template">
      <h1>Clio — Software Components and IP Management System</h1>
      <p class="lead">The system is named "CLIO".<br>

        Clio is the muse of history, and, as the Proclaimer, she is keeping detailed records.<br>
        
        CLIO is also a backronym for the system of maintaining Components, Licenses, Ip and Other information.</p>

      <h3>Softwares List</h3>
        <software-list></software-list>
  </div>
</div>  

